* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* disables text selection - strictly for asthetics */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

:root {
    --shadow1-trans: .4;
    --main-shadow: 10px 10px 0 rgb(0, 0, 0, var(--shadow1-trans));
    --small-shadow: 5px 5px 0 rgb(0, 0, 0, var(--shadow1-trans));
    --thumb-size: calc(10vw + 10vh);
    --text-color: black;
    --anim-timing: .2s;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #eee;
    color: var(--text-color);
    background-image: url("./images/bg/checkered.jpg");
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.main-container {
    /* border: 2px solid black; */
    min-width: 310px;
}

.top-container {
    /* border: 1px solid purple; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px 20px 60px 20px;
}

.title-container {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px 0;
}

.title {
    text-shadow: 5px 4px 0 rgb(0, 0, 0, .2);
    text-transform: uppercase;
    /* font-size: 10vw; */
    text-align: center;
}

.sub-title {
    text-shadow: 4px 3px 0 rgb(0, 0, 0, .2);
    text-align: center;
    /* font-size: 5.5vw; */
}

.links-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2% 0 2%;
}

.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.links-container a h4{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 4px 0 0 0;
    z-index: 1;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(83, 83, 83);
    box-shadow: var(--small-shadow);
    /* width: 15vw; */
    /* height: 15vw; */
    /* border-radius: 8vw; */
    /* font-size: 2.5vw; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    transition: transform var(--anim-timing);
}

.link:hover {
    transform: scale(1.1);
}

.thumbs-container {
    /* border: 2px solid green; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.thumbs-container a figure figcaption {
    border: 0 solid black;
    border-bottom: 3px solid black;
    padding: 7px 0 7px 15px;
    background-color: #ddd;
    font-size: 1.2rem;
    font-weight: bold;
}

.thumbs-container a:hover figcaption {
    background-color: rgb(0, 119, 230);
    color: white;
}

.thumbs-container a:hover {
    transform: scale(1.05);
}

.thumb {
    flex-basis: 85vw;
    height: 85vw;
    border-radius: 20px;
    box-shadow: var(--main-shadow);
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 3px solid black;
    margin: 0 0 20px 0;
    transition: transform var(--anim-timing);
}

#about {
    background-image: url(./images/links/about-reg.gif);
    background-size: 100%;
}

#about:hover {
    background-image: url(./images/links/about-hov.gif);
}

#linkedin {
    background-image: url(./images/links/linkedin-reg.gif);
    background-size: 100%;
    background-position: 3px;
}

#linkedin:hover {
    background-image: url(./images/links/linkedin-hov.gif);
}

#git {
    background-image: url(./images/links/git-reg.gif);
    background-size: 100%;
    background-position: 2px;
}

#git:hover {
    background-image: url(./images/links/git-hov.gif);
}

#email {
    background-image: url(./images/links/email-reg.gif);
    background-size: 100%;
}

#email:hover {
    background-image: url(./images/links/email-hov.gif);
}
















@media (min-width: 800px) {
    .top-container {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .title-container {
        align-items: flex-start;
        min-width: 375px;
        margin: 0;
    }

    .links-container {
    flex-basis: 50%;
    }

    .thumbs-container {
        gap: 4%;
    }

    .thumb {
        flex-basis: 40vw;
        height: 40vw;
    }
}














@media (min-width: 1100px) {
    .thumb {
        flex-basis: 25vw;
        height: 25vw;
    }
}
