* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* disables text selection - strictly for asthetics */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

:root {
    --shadow1-trans: .4;
    --main-shadow: 10px 10px 0 rgb(0, 0, 0, var(--shadow1-trans));
    --soft-shadow: 0 0 10px rgb(0, 0, 0, 1);
    --small-shadow: 5px 5px 0 rgb(0, 0, 0, var(--shadow1-trans));
    --thumb-size: calc(10vw + 10vh);
    --text-color: black;
    --anim-timing: .2s;
    --background-color: #222;
    --background-color-light: #444;

    --link-about-image-reg:     url(./images/links/about-reg.gif);
    --link-about-image-hov:     url(./images/links/about-hov.gif);
    --link-linkedin-image-reg:  url(./images/links/linkedin-reg.gif);
    --link-linkedin-image-hov:  url(./images/links/linkedin-hov.gif);
    --link-git-image-reg:       url(./images/links/git-reg.gif);
    --link-git-image-hov:       url(./images/links/git-hov.gif);
    --link-email-image-reg:     url(./images/links/email-reg.gif);
    --link-email-image-hov:     url(./images/links/email-reg.gif);
    --accent-color: rgb(0, 119, 230);
}

body {
    font-family: 'Play', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.main-container {
    /* border: 2px solid black; */
    min-width: 310px;
}

.top-container {
    /* border: 1px solid purple; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px 20px 60px 20px;
}

.title-container {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px 0;
    color: white;
}

.title {
    text-shadow: 5px 4px 0 rgb(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
}

.sub-title {
    text-shadow: 4px 3px 0 rgb(0, 0, 0, .2);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.links-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2% 0 2%;
}

.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.links-container a h4{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 4px 0 0 0;
    box-shadow: var(--small-shadow);
    font-size: 14px;
    z-index: 1;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(83, 83, 83);
    box-shadow: var(--small-shadow);
    /* width: 15vw; */
    /* height: 15vw; */
    /* border-radius: 8vw; */
    /* font-size: 2.5vw; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    transition: transform var(--anim-timing);
}

.link:hover {
    transform: scale(1.1);
    background-color: var(--accent-color);
} 

#goto-about-me {
    cursor: pointer;
}

.thumb {
    flex-basis: 85vw;
    height: 85vw;
    border-radius: 20px;
    box-shadow: var(--main-shadow);
    position: relative;
    overflow: hidden;
    background-color: var(--background-color-light);
    border: 3px solid black;
    margin: 0 0 20px 0;
    transition: transform var(--anim-timing);
    position: relative;
}

.thumb img {
    position: absolute;
    width: 78%;
    height: 78%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--soft-shadow);
    filter: grayscale(100%);
    opacity: .4;
}

.thumbs-container {
    /* border: 2px solid green; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.thumbs-container a figure figcaption {
    border: 0 solid black;
    border-bottom: 3px solid black;
    padding: 7px 0 7px 15px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.thumbs-container a:hover figcaption {
    background-color: rgb(0, 119, 230);
    color: white;
}

.thumbs-container a:hover {
    transform: scale(1.05);
}

.thumbs-container a:hover img {
    opacity: 1;
    filter: grayscale(0%);
}

.desc {
    display: none;
    position: absolute;
    box-shadow: var(--soft-shadow);
    background-color: #ddd;
    margin: 20px;
    padding: 20px;
    top: 50%;
    transform: translate(0, -55%);
    border-radius: 10px;
    font-size: .9em;
}


.thumbs-container a:hover .desc {
    display: block;
}

#about {
    background-image: var(--link-about-image-reg);
    background-size: 100%;
}

#about:hover {
    background-image: var(--link-about-image-hov);
}

#linkedin {
    background-image: var(--link-linkedin-image-reg);
    background-size: 100%;
    background-position: 3px;
}

#linkedin:hover {
    background-image: var(--link-linkedin-image-hov);
}

#git {
    background-image: var(--link-git-image-reg);
    background-size: 100%;
    background-position: 2px;
}

#git:hover {
    background-image: var(--link-git-image-hov);
}

#email-open {
    background-image: var(--link-email-image-reg);
    background-size: 100%;
}

#email:hover {
    background-image: var(--link-email-image-hov);
}

.cursor-blink {
    display: inline;
    padding: 0 0 0 8px;
    margin-left: 10px;
    background-color: white;
    
    animation-name: flash;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

        @keyframes flash {
            0% {opacity: 1;}
            49% {opacity: 1;}
            50% {opacity: 0;}
            99% {opacity: 0;}
            100% {opacity: 1;}
        }

.email-modal-title-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 105%;
    margin-top: 10px;
}

#close-email-modal {
    font-weight: bold;
}

#close-email-modal:hover {
    cursor: pointer;
}

#email-input {
    width: 200px;
    transition: height .5s, width .5s;
}

.email-textarea {
    flex-basis: 50%;
    width: 200px;
    transition: height .5s, width .5s;
}

#email-modal {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 25px black;
    padding: 0px 20px 10px 20px;
    border: 3px solid black;
    z-index: 1;
    transition: height .5s, width .5s, top .5s;
}

#about-container {
    /* border: 4px dotted blue; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    order: 3;
    font-size: 1.2rem;
    line-height: 1.2em;
    text-align: justify;
    padding: 0 10% 50px 10%;
    margin: 20px 0 80px 0;
    padding-top: 40px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgba(140, 140, 140, 1);
}

#about-container img {
    width: 300px;
    margin-bottom: 20px;;
    box-shadow: var(--main-shadow);
    border-radius: 20px;
    border: 3px solid black;
}

#about-container p {
    margin-bottom: 1.5rem;
}

#send-email {
    background-color: white;
    color: black;
    width: 75px;
    height: 30px;
    border: 2px solid black;
    box-shadow: var(--soft-shadow);
    font-family: 'Play', sans-serif;
}

#send-email:hover {
    background-color: lightgray;
}

#send-email:active {
    background-color: black;
    color: white;
}

button:active {
    box-shadow: none;
    transform: scale(.95);
    background-color: #eee;
}

























@media (min-width: 800px) {
    .top-container {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .title-container {
        align-items: flex-start;
        min-width: 375px;
        margin: 0;
    }

    .title {
        font-size: 2.6rem;
        font-weight: bold;    
    }

    .sub-title {
        font-size: 1.55rem;
        font-weight: bold;    
    }

    .links-container {
    flex-basis: 50%;
    }

    .thumbs-container {
        gap: 4%;
    }

    .thumb {
        flex-basis: 40vw;
        height: 40vw;
    }

    #email-input {
        width: 400px;
        height: 30px;
        padding: 0 5px;
    }
    
    .email-textarea {
        flex-basis: 50%;
        width: 400px;
        padding: 5px;
    }
    
    #email-modal {
        display: none;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: large;
        width: 500px;
        height: 400px;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 25px black;
        padding: 0px 20px 10px 20px;
        border: 3px solid black;
        z-index: 1;
    }
}














@media (min-width: 1100px) {
    .thumb {
        flex-basis: 25vw;
        height: 25vw;
    }

    .title {
        font-size: 3.7rem;
        font-weight: bold;    
    }

    .sub-title {
        font-size: 2.2rem;
        font-weight: bold;    
    }

    #about-container {
        /* border: 4px dotted blue; */
        flex-flow: row nowrap;
        gap: 7%;
    }

}

/* TEST */
@media (pointer: coarse) {
    .thumbs-container a figcaption {
        background-color: var(--accent-color) !important;
        color: white;
    }

    #about {
        background-image: var(--link-about-image-hov);
        background-color: var(--accent-color);
    }

    #linkedin {
        background-image: var(--link-linkedin-image-hov);
        background-color: var(--accent-color);
    }
    
    #git {
        background-image: var(--link-git-image-hov);
        background-color: var(--accent-color);
    }
    
    #email-open {
        background-image: var(--link-email-image-hov);
        background-color: var(--accent-color);
    }

    .thumbs-container a img {
        opacity: 1;
        filter: grayscale(0%);
    }
} 